/* animations */
@keyframes welcome {
    0%{
        display: block;
        opacity:1;
    }
    99%{
        height:100vh;
    }
    100%{
        display: hidden;
        opacity: 0;
        height: 0vh;
    }
}

/* general */
.html{
    margin: 0;
}

body{
    margin: 0px;
    background-image: url('media/skyline.png');
    background-size: 2000px 500px;
    background-position: bottom;
    background-repeat: no-repeat;
}

.center-content {
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.welcome-container{
    margin:0;
    width:100vw;
    height:100vh;
    background-image: linear-gradient(rgb(0, 63, 134) ,rgba(26, 75, 209, 0.835),rgb(15, 40, 70));
    animation: welcome 1s 1;
    animation-fill-mode:forwards;
}

#welcome-text{
    margin:0;
    position: absolute;
    top:40%;
    left:40%;
    font-size: 60px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar{
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    margin-top:5px;
    margin-left: 20px;
    margin-right: 20px;
    height:80px;
    padding:5px;
    width: auto;
}

#site-title{
    display:flex;
    flex-direction: row;
    position: relative;
    align-self: center;
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: 700;
    color:rgb(0, 0, 0);
}

.main-container{
    height: 100%;
}

.bottom-container{
    height:30vh;
    position: relative;
    bottom: 0 px;
}

.big-main-container{
    display: flex;
    flex-direction: row;
}

.empty-container{
    width:10%;
    flex-shrink: 5;
}

.iframe-container{
    margin:20px;
    width:65%;
    height:600px;
}

.list-container{
    width:fit-content;
    height:540px;
    margin-top: 110px;
    margin-right: 5px;
    padding:10px;
    border:1px solid rgb(199, 199, 199);
    border-radius: 6px;
}

.nav-list-item{
    min-width: 120px;
}

@media screen and (max-width:1440px) {

    .empty-container{
        display: none;
        width: 0%;
    }

    .iframe-container{
        width: 80%;
    }    
}

@media screen and (max-width:1255px) {
    .big-main-container{
        flex-wrap: wrap;
    }

    .list-container{
        width:fit-content;
    }
}

#nav-tabs{
    width:260px;
}

.list-of-cities{
    list-style: none;
    overflow:hidden;
    overflow-y:scroll;
    height: inherit;
}

.list-item{
    padding:15px;
    min-width:70px;
}

.list-item:hover{
    color:black;
    background-color: rgb(103, 161, 255);
    cursor:pointer;
}

#video-title{
    color:rgb(12, 12, 77);
}

